#container{
    height:400px;
    width:400px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}
.box{
    height:100px ;
    width:100px ;
    font-size: 50px;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    align-items: center;
}
#navbar{

    height: 50px;
    width: 900px;
    background-color: pink;
    border: 2px solid lightgreen;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.option{
    height: 50px;
    width: 80px;
    border-radius: 10px;
    margin-left: 5;
    font-size: 24;
    line-height: 50px;

}