#myid p{
    color: green;
}
button:hover{
    background-color: black;
    color: whitesmoke;
}
button:active{
    background-color: blue;
    color: blanchedalmond;
}
input[type="radio"]:checked + label {
    color: aquamarine;
    font-weight: 600;
}
.follow:nth-of-type(2){
    background-color: rgb(186, 186, 16);
}
p{
    text-align:justify;
}
p::selection{
    color: rgb(215, 27, 27);
    background-color:rgb(213, 255, 2);
}

