div{
    height: 200px;
    width: 500px;
    background-color: rgb(62, 6, 6);
    border-width:2px;
    border-style: double;
    border-color: rgb(138, 149, 34);
    border-right-color: rgb(9, 144, 144);
    color: mediumseagreen;
    border-radius: 15px;
    padding-top: 50px;
}
h1{
    border:2px solid blueviolet;
}
button{
    border: 2px solid black;
    border-radius: 20px;
    padding-left:25;
    padding-right:25 ;
    color: red;

}
button:hover{
    background-color: rgb(140, 0, 0);
    color: rgb(47, 10, 82);
}