<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
</head>
<body>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt recusandae assumenda distinctio repudiandae, repellat expedita omnis quae unde nostrum, voluptatibus quia vitae fuga dignissimos quisquam! Saepe autem labore reprehenderit veritatis!
    Maxime cumque dignissimos sit ex iste doloremque eum saepe est earum, laudantium iure aut odit nisi, eveniet consequatur facilis possimus sequi dolores deleniti illo unde. Dolor expedita dignissimos dolore autem!
    Dolore vel, praesentium doloremque a esse expedita. Nobis beatae consequuntur eaque, explicabo officia ex culpa commodi, iusto ullam cumque repellat sed perspiciatis iste odit deserunt cum debitis quidem molestiae id?
    Fuga laudantium esse debitis dicta magnam dolorem sit culpa quae facilis eligendi eveniet quidem a mollitia eius natus porro, minus expedita ipsum itaque alias similique ipsam illum. Itaque, ea aspernatur!
    Aliquam molestiae ea, ab quos doloremque dolore quis alias ipsum deleniti, quisquam quo rerum maxime eum. Iure unde inventore quos dolorum odio molestiae debitis possimus est voluptatem temporibus! Officiis, veniam!</p>
    <button>click me</button>
</body>
</html>